{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="card">
    <div class="card-header">
        <div class="card-title text-dark" _msttexthash="224159" _msthash="96">
            <h3>Liste des Amendes</h3><a href="{% url 'amende' %}">
            <button class="btn btn-primary btn-round ms-auto d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#addRowModal">
                <i class="fa fa-plus"></i>
                <font _mstmutation="1" _msttexthash="290550" _msthash="483">
                Ajouter une ligne
                </font>
            </button></a>
        </div>   
    </div>
    <div class="card-body">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Numero</th>
                    <th scope="col">Infraction</th>
                    <th scope="col" _msttexthash="133978" _msthash="98">Montant</th>
                    <th scope="col" _msttexthash="94367" _msthash="99">Date emission</th>
                    <th scope="col" _msttexthash="113646" _msthash="100">Status</th>
                    <th scope="col" _msttexthash="113646" _msthash="100">Actions</th>
                </tr>
            </thead>
            <tbody>
                    {% for a in amendes %}
                    <tr>
                        <td>{{ a.numero }}</td>
                        <td>{{ a.infraction }}</td>
                        <td>{{ a.montant }}</td>
                        <td>{{ a.datem }}</td>
                        <td>{{ a.status }}</td>
                        <td>
                            <a href="{% url 'mamende' a.numero %}">
                                <i class="fas fa-pen-square"></i>
                            </a>
                            <a href="{% url 'samende' a.numero %}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

        </table>
    </div>
</div>
{% endblock content %}