{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-11">
        <div class="card">
            <div class="card-header">
                <div class="card-title text-dark" _msttexthash="224159" _msthash="96">
                    <h3>Liste des paiements</h3><a href="{% url 'paiement' %}">
                    <button class="btn btn-primary btn-round ms-auto d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        <font _mstmutation="1" _msttexthash="290550" _msthash="483">
                        Ajouter une ligne
                        </font>
                    </button></a>
                </div>   
            </div>
            <div class="card-body">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Numero</th>
                            <th scope="col" _msttexthash="133978" _msthash="98">Amende</th>
                            <th scope="col" _msttexthash="94367" _msthash="99">Date paiement</th>
                            <th scope="col" _msttexthash="113646" _msthash="100">Mode</th>
                            <th scope="col" _msttexthash="113646" _msthash="100">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in paiements %}
                        <tr>
                            <td>{{ p.numero }}</td>
                            <td>{{ p.amende }}</td>
                            <td>{{ p.datep }}</td>
                            <td>{{ p.mode }}</td>
                            <td>
                                <a href="{% url 'mpaiement' p.numero %}">
                                        <i class="fas fa-pen-square"></i>
                                    </a>
                                    <a href="{% url 'spaiement' p.numero %}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}